* {
    font-family: arial;
}
table{
    position: relative;
    top: 20px;       
}

table,  td {
    border-radius: 5px;
    font-size: 20px;
      border: 1px solid black;
}

th , td{
    border: 1px solid black;
    border-collapse: collapse;
}

.no {
    width: 5%;
}

.nama {
    width: 50%;
}

td, a {
    text-align: center;
}